  <div *ngIf="accounts.length > 0" class="mt-4">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Fullname</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account?.id }}</td>
          <td>{{ account?.username }}</td>
          <td>{{ account?.phone }}</td>
          <td>{{ account?.email }}</td>
          <td>{{ account?.fullname }}</td>
          <td>
            <div class="d-flex">
              <button class="btn btn-primary me-1" (click)="onUpdate(account)">Edit</button>
              <button class="btn btn-danger" (click)="onDelete(account)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="w-100 d-flex justify-content-end mt-4" *ngIf="(totalItem / limit) > 1">
      <pagination [totalItems]="totalItem" [itemsPerPage]="limit" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
  
  <ng-template #udatetemplate>
    <section class="update-section bg-light p-4 rounded">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-4">Update User</h3>
          <form [formGroup]="formupdate">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" id="username" class="form-control" formControlName="username" readonly>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input type="tel" id="phone" class="form-control" formControlName="phone">
            </div>
            <div class="mb-3">
              <label for="fullname" class="form-label">Fullname</label>
              <input type="text" id="fullname" class="form-control" formControlName="fullname">
            </div>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary btn-lg" (click)="onSubmit()">Update</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </ng-template>
  
  <div *ngIf="accounts.length === 0" class="mt-4">
    <p>Không có tài khoản nào được tìm thấy.</p>
  </div>
  