  <div class="container mt-4">
    <h2>Danh sách Tag</h2>
    <div class="text-end mb-3">
      <button type="button" class="btn btn-primary" (click)="onCreate()">Create Tag</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of tags">
          <th scope="row">{{ tag.id }}</th>
          <td>{{ tag.name }}</td>
          <td>{{ tag.status }}</td>
          <td>
            <div class="d-flex">
              <button class="btn btn-primary me-1" (click)="onUpdate(tag)">Edit</button>
              <button class="btn btn-danger" (click)="onDelete(tag)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-100 d-flex justify-content-end" *ngIf="(totalItem / limit) > 1">
      <pagination [totalItems]="totalItem" [itemsPerPage]="limit" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
  
  <ng-template #udatetag>
    <section class="bg-light p-4 rounded">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-4">Tag</h3>
          <form [formGroup]="formtag">
            <div class="mb-3">
              <label for="tagName" class="form-label">Name</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-envelope fa-lg fa-fw"></i></span>
                <input type="text" id="tagName" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary btn-lg" (click)="onSubmit()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </ng-template>
  