<div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="Profile Image">
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: johndoe@example.com</li>
            <li class="list-group-item">Phone: +1234567890</li>
            <li class="list-group-item">Location: City, Country</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Edit Profile</a>
            <a href="#" class="card-link">Change Password</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bio</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum vitae libero quis ullamcorper.
              Proin convallis, eros nec ullamcorper tempor, ipsum mauris fermentum urna, eget cursus mi ex non mi.
              Morbi accumsan quam ac augue vestibulum auctor.
            </p>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Skills</h5>
            <ul class="list-unstyled">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>Angular</li>
              <!-- Add more skills as needed -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  