
<div class="container">
  <div class="row gx-4 gy-4">
    <div class="col-lg-4 col-md-4 mb-4" *ngFor="let post of posts">
      <div class="post-preview">
        <img [src]="post.image_url || 'placeholder.jpg'" alt="Post Image" class="w-100 h-auto" style="width: 200px; height: 150px;">
        <a [routerLink]="['/post', 'postview', post.id]" class="d-flex align-items-center text-decoration-none border-bottom mb-4 pb-3">
          <div class="ms-3">
            <h2 class="post-title">{{ post.tiltle }}</h2>
            <!-- <h3 class="post-subtitle">{{ post.subtitle }}</h3> -->
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 mb-4">
    </div>
  </div>
</div>

<div class="w-100 d-flex justify-content-end mt-4" *ngIf="(totalItem / limit) > 1">
  <pagination [totalItems]="totalItem" [itemsPerPage]="limit" (pageChanged)="pageChanged($event)"></pagination>
</div>
