<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
      <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo" loading="lazy">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>

        <div *ngIf="!isLogined" class="me-3">
          <a routerLink="/auth/login" class="btn btn-primary">Login</a>
        </div>

        <div *ngIf="!isLogined">
          <a routerLink="/auth/register" class="btn btn-outline-primary">Register</a>
        </div>

        <div class="dropdown" *ngIf="isLogined">
          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Avatar" loading="lazy">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
            <li><a class="dropdown-item" routerLink="/profile/user">My profile</a></li>
            <!-- <li><a class="dropdown-item" [routerLink]="['/post', 'postview']">My profile</a></li> -->
            <li><a class="dropdown-item" [routerLink]="['/post', 'newpost']">New Post</a></li>
            <ng-container *ngIf="isAdmin">
              <li><a routerLink="/admin/posts" class="dropdown-item">Quản lý Post</a></li>
              <li><a routerLink="/admin/users" class="dropdown-item">Quản lý Users</a></li>
              <li><a routerLink="/admin/tag" class="dropdown-item">Quản lý Tag</a></li>
            </ng-container>
            <li><a class="dropdown-item" (click)="onClick()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

