<div class="container-fluid vh-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-lg-10 col-xl-8">
      <div class="card shadow-lg">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Create New Post</h2>

          <form [formGroup]="formupost" class="row g-3 needs-validation" novalidate>
            <div class="col-md-12">
              <label for="tiltle" class="form-label">Title</label>
              <input type="text" id="tiltle" class="form-control" formControlName="tiltle" required/>
              <div class="invalid-feedback">Please provide a title.</div>
            </div>

            <div class="col-md-12">
              <label for="subtiltle" class="form-label">Subtitle</label>
              <input type="text" id="subtiltle" class="form-control" formControlName="subtiltle" required/>
              <div class="invalid-feedback">Please provide a subtitle.</div>
            </div>

            <div class="col-md-12">
              <label for="subtiltle" class="form-label">Image</label>
              <input type="text" id="subtiltle" class="form-control" formControlName="image_url" required/>
              <div class="invalid-feedback">Please provide a image url.</div>
            </div>

            <div class="col-md-12">
              <label for="content" class="form-label">Content</label>
              <textarea class="form-control" id="content" rows="4" formControlName="content" required></textarea>
              <div class="invalid-feedback">Please provide content.</div>
            </div>

            <div class="col-md-12">
              <label for="news-place" class="form-label">Place<span class="form-required">*</span></label>
              <ng-select id="news-place"
                        class="ng-select-custom"
                        [multiple]="true"
                        formControlName="tag"
                        [items]="tags"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        required
              >
              </ng-select>
              <div class="invalid-feedback">Please select at least one place.</div>
            </div>

            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary mt-4 px-5" (click)="onCreat()">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>







