   <div class="container mt-4">
    <h2>Danh sách bài viết</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tiêu đề</th>
          <th scope="col">Nội dung</th>
          <th scope="col">Tác giả</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.id }}</td>
          <td>{{ post.tiltle }}</td>
          <td>{{ post.content }}</td>
          <td>{{ post.author }}</td>
          <td>
            <div class="d-flex">
              <button class="btn btn-danger" (click)="onDelete(post)">Xóa</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-100 d-flex justify-content-end mt-4" *ngIf="(totalItem / limit) > 1">
      <pagination [totalItems]="totalItem" [itemsPerPage]="limit" (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
  