<div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <div class="d-flex justify-content-between align-items-center">
          <h1>{{ newpost.tiltle }}</h1>
          <button *ngIf="isAuthor" class="btn btn-primary" (click)="onUpdate(newpost)">Edit</button>
        </div>
        <p class="text-muted">Posted on January 1, 2024</p>
        <img src="{{newpost.image_url}}" class="img-fluid mb-3" alt="Post Image">
        <p>
          {{ newpost.content }}
        </p>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <ng-template #udatetemplate>
    <section class="update-section bg-light p-4 rounded">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-4">Update User</h3>
          <form [formGroup]="formupost" class="row g-3 needs-validation" novalidate>
            <div class="col-md-12">
              <label for="tiltle" class="form-label">Title</label>
              <input type="text" id="tiltle" class="form-control" formControlName="tiltle" required/>
              <div class="invalid-feedback">Please provide a title.</div>
            </div>

            <div class="col-md-12">
              <label for="subtiltle" class="form-label">Subtitle</label>
              <input type="text" id="subtiltle" class="form-control" formControlName="subtiltle" required/>
              <div class="invalid-feedback">Please provide a subtitle.</div>
            </div>
            <div class="col-md-12">
                <label for="subtiltle" class="form-label">Image</label>
                <input type="text" id="subtiltle" class="form-control" formControlName="image_url" required/>
                <div class="invalid-feedback">Please provide a image url.</div>
              </div>
            <div class="col-md-12">
              <label for="content" class="form-label">Content</label>
              <textarea class="form-control" id="content" rows="4" formControlName="content" required></textarea>
              <div class="invalid-feedback">Please provide content.</div>
            </div>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary btn-lg" (click)="onSubmit()">Update</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </ng-template>
  
  